body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

h1 {
    margin-top: 0;
    color: #333;
    font-size: 24px;
}

.input-container {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.custom-file-upload {
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-file-upload:hover {
    background-color: #0056b3;
}

.custom-file-upload input[type="file"] {
    display: none;
}

#countButton {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

#countButton:hover {
    background-color: #0056b3;
}

.result-container {
    border-top: 1px solid #ccc;
    padding-top: 20px;
    text-align: left;
    margin-top: 20px;
    font-size: 14px;
}

.result-container h2 {
    margin-top: 0;
    font-size: 18px;
    color: #333;
}


.notification {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f44336;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.notification.active {
    opacity: 1;
}

